pandas==2.2.3
numpy==1.26.4
requests==2.32.3
pyarrow==20.0.0
spiceypy==6.0.0
scikit-learn==1.6.1
matplotlib==3.9.2
ipywidgets==8.1.5
streamlit==1.44.1
folium==0.17.0
streamlit-folium==0.22.0
streamlit-geolocation==0.0.10
